@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: 'Montserrat', Georgia, Times, 'Times New Roman', serif;
    background-color: #fff;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 70vw;
    min-height: 100%;
    background-color: hsla(58, 0%, 87%, 0.94);
}

body > div {
    width: 100%;
}

/* HEADER */
#header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #57b3e5;
    font-size: 1rem;
    height: 8vh;
    color: #fff;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    font-weight: bolder;
}

#header-container a {
    text-decoration: none;
    color: #fff;
    padding: .3rem .9rem .3rem .3rem;
}

#header-container a:hover {
    color: #135477;
}

 /* FOOTER */
 #page-footer {
    height: 8vh;
    display: flex;
    font-size: .8rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    border-radius: 0 0 1rem 1rem;
    background-color: #135477;
}

/*BUTTON*/

button {
    border-style: none;
    cursor: pointer;
    color: #000;
    background-color: #f5f100;
    border-radius: .4rem;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-box-shadow: 8px 11px 9px -6px rgba(0,0,0,0.31);
    -moz-box-shadow: 8px 11px 9px -6px rgba(0,0,0,0.31);
    box-shadow: 8px 11px 9px -6px rgba(0,0,0,0.31);
}

button:hover {
    transform: scale(1.01   );
    color: #171717;
}


/* ** INDEX ** */

    /* MAIN */
    main {
        flex: 4;
        justify-content: flex-start;
        padding: .5rem;

    }
    main > section {
        display: flex;
        flex-flow: wrap ;
    }

    main > section > article {
        display: flex;
        flex-direction: column;
        height: 25%;
    }

    main > section > article > header > h2 {
        font-size: 1rem;
        color: #135477;
    }

    main > section > article > p {
        font-size: .9rem;
        margin: 0;
        padding: .2rem;
    }

    main > section > article > footer {
        display: flex;
        justify-content: flex-end;
    }

    main > section > article > footer > button {
        height: 2rem;
    }

    /* ASIDE */
    aside {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .2rem;
        height: 100%;

    }

    aside > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        border-radius: .4rem;
        margin: .5rem;
        padding: .2rem;
    }

    aside > section > header > h3{
        font-size: .8rem;

    }

    aside > section > p{
        font-size: 1rem;

    }


/* *PRICES* */

    /* PRICES TABLE */
    .prices-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 79vh;
    }
    
    .prices-container h2 {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: #135477;
    }

    table {
        width: 100%;
    }

    table td {
        border-radius: .2rem;
        text-align: center;
        padding: .6rem;
        margin: 1rem;
        font-size: .9rem;
        background-color: #fff;
    }

    thead > tr > td{
        font-weight: bolder;
        font-size: 1rem;
    }

    .prices-register-btn {
        height: 1.8rem;  
    }


/* *CONTACT* */
    .main-contact {
        display: flex;
        justify-content: center;
        min-height: 79vh;
        align-items: flex-start;
    }

    .main-contact section {
        display: flex;
        justify-content: center;
    }

    /* *form* */
    form {
        width: 80%;
        display: flex;
        flex-direction: column;  
    }

    .main-contact label {
        font-size: .9rem;
        font-weight: bold;
    }

    .main-contact div {
        display: flex;
        flex-direction: column;
        padding: .4rem;
    }

    .main-contact input, .main-contact textarea {
        border-style: none;
        border-radius: .2rem;
        height: 1.5rem;
    }

    .main-contact textarea {
        height: 4rem;
    }

    .main-contact button {
        width: fit-content;
        font-size: .9rem;
        padding: .4rem;
    }

/* *ABOUT* */
    
    /*MAIN*/
    .main-about section{
        height: 79vh;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }


    .main-about h1 {
        color:  #135477;
        font-size: 1.5rem;
        margin: .2rem;
    }

    .main-about p {
        font-size: .8rem;
        margin: .2rem;
        }

    .main-about div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    } 

    img {
        width: 45%;
        height: 100%;
        border-radius: .2rem;
    }
